.category-list-count,
.tag-list-count,
.archive-list-count {
  padding-left: 15px;
  color: color-meta;
  font-size: 0.85em;
}
.category-list-count:before,
.tag-list-count:before,
.archive-list-count:before {
  content: "(";
}
.category-list-count:after,
.tag-list-count:after,
.archive-list-count:after {
  content: ")";
}
.category-list,
.tag-list,
.archive-list {
  font-size: 0.9em;
  padding: 15px 20px;
}
.category-list ul,
.tag-list ul,
.archive-list ul,
.category-list ol,
.tag-list ol,
.archive-list ol,
.category-list dl,
.tag-list dl,
.archive-list dl {
  list-style: none;
}
